<form>
  <input class="edit" type="hidden" name="_id" value="<%= model._id %>" />
  <input type="checkbox" name="done" <%= model.done ? 'checked="checked"' : '' %> />
  <span class="normal title"><%= model.title %></span>
  <input class="edit" type="text" name="title" value="<%= model.title %>" />
  <button class="edit save">save</button>
  <button class="edit delete">X</button>
</form>
